<div data-bind="fadeVisible: visible$" class="omw-user-stats card shadow m-2">
    <e1p-header params="{ title: page.title, icon: page.icon, visible: visible$ }" class="card-header bg-primary text-light">
    </e1p-header>
    <div class="card-body container-fluid">
        <div data-bind="foreach: data.maps" class="row">
            <div class="card m-2">
                <div></div>
                <div class="card-header">
                    <div data-bind="text: user" class="card-title m-0"></div>
                </div>
                <div class="card-body d-flex">
                    <div data-bind="attr: { id: user }" class="cal-heatmap justify-content-center"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div data-bind="attr: { id: `modal-${page.id}` }" class="omw-log-stats modal fade" tabindex="-1">
    <div class="log-detail modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-primary text-light">
                <h5 data-bind="text: `${page.title} for ${user$()} on ${date$()} (${count$()})`" class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table data-bind="attr: { id: `table-${page.id}` }" class="table table-condensed text-nowrap"></table>
            </div>
        </div>
    </div>
</div>